<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining-bootstrap' }"</sly>


</sly>
<body>
<div class="component">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">24h %</th>
            <th scope="col">7d %</th>
            <th scope="col">Max Supply</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">BTC</th>
            <td>54.000</td>
            <td>+6.96%</td>
            <td>+25%</td>
            <td>21000000</td>
        </tr>

        </tbody>
    </table>
</div>

<p>Ciao Test</p>

</body>