<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining-weatherdavide' }"</sly>
</sly>

<sly data-sly-use.model="com.moveo.aem.training.core.models.WeatherDavide">
    
</sly>
<div id="container" data-sly-list.pippo=${model.dailyWeatherBeanList}>
    <sly  data-sly-test="${itemList.index==0}">
        <img src="http://openweathermap.org/img/wn/${pippo.icon}.png" alt="">
        <h2><span id="span1"> ${pippo.day} </span><span id="spanCitta">${properties.citta} </span><span id="spanTemp"> ${pippo.tempMin}&#8451 -  ${pippo.tempMax}&#8451</span></h2></sly>

</div>



<ul data-sly-list.weatheritem = ${model.dailyWeatherBeanList} class="flex-container wrap">

    <li class="flex-item">${weatheritem.day}</br><img src="http://openweathermap.org/img/wn/${weatheritem.icon}.png" alt=""></br>${weatheritem.tempMin}&#8451 -  ${weatheritem.tempMax}&#8451</li>


</ul>
