<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining-weatherdavide' }"</sly>
</sly>
<sly data-sly-use.model="com.moveo.aem.training.core.models.WeatherDavide">


		
    <div id="psyke_meteo_box" data-sly-list.item="${model.dailyWeatherBeanList}">
        <div class="littlepicture" >
            <div class="lplabel" id="nomeg">${item.day}</div>
            <div class="lpimg"><img src="http://openweathermap.org/img/w/${item.icon}.png" alt=""></div>
            <div class="lplabel" id="maxmin">${item.tempMin}&#8451; - ${item.tempMax}&#8451;</div>
        </div>
    </div>
    <q id="weatherquote"> <i>
        the only accurate weather forecast, were from yesterday
    </i></q>
</body>

</sly>