<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining-weatherdavide' }"</sly>
</sly>
<sly data-sly-use.model="com.moveo.aem.training.core.models.WeatherDavide"></sly>

<body>
<div id="container">
    <sly data-sly-list.item = ${model.dailyWeatherBeanList}>
        <sly data-sly-test ="${itemList.index == 0}">
            <p>${item.day}</p>
            <img src="http://openweathermap.org/img/wn/${item.icon}.png">
            <p>${item.tempMin}° ${item.tempMax}° </p>
        </sly>

</div>


<div id="weatherContainer"></div>
<script id="weatherTemplate" type="text/x-handlebars-template">
    <ul class="flex-container wrap">
        {{#each dailyWeatherBeanList}}
        <li class="flex-item">
            <p>{{day}}</p>
            <img src="http://openweathermap.org/img/w/{{icon}}.png">
            <p>{{tempMin}}° {{tempMax}}° </p>
        </li>
        {{/each}}
    </ul>
</script>



</body>