<!--
contenuto del Titolo:
<br>

<h1 style="color: #2020e0">
    ${properties.titolo}
</h1>
<br>
contenuto del Testo:
<br>
<label style="color: red" >
    ${properties.text}
</label><br>

<div>Titolo pag corrente: ${currentPage.path}</div>
<div>path pag corrente: ${currentPage.title}</div>

<br>
<ol data-sly-list="${currentPage.listChildren}">
    <li>numero pag : ${itemList.count} Titolo della pag:${item.title}</li>

</ol>

<ol data-sly-repeat="${currentPage.listChildren}">
    <li data-sly-test="${itemList.count == 1}">${item.title}</li>

</ol>
-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.all @ categories = 'aemtraning-helloworldalfredo'}"> ${modelMio.titoloUp} </sly>

</sly>

<div>
    <label>
        Titoli in lower case:
        <br>
        <label>${currentPage.titoloLower}</label>
        <br>
        <label>${currentPage.mexLower}</label>
    </label>
</div>


<div class="miaclassestile" data-sly-use.modelMio="com.moveo.aem.training.core.models.HelloWorldAlfredoModel" >

    <h1 class="miaclassestile">   ${modelMio.titoloUp}</h1>
</div>

<div data-sly-use.modelMio="com.moveo.aem.training.core.models.HelloWorldAlfredoModel" >
   <h3>   ${modelMio.mexUp}</h3>
</div>
