.contenitoreGiorni {
	border-style: groove;
  	border-color: red;
  	border-width: 3px;
    display: flex;
}

.cellaSingola {
  border-style: groove;
  border-color: blue;
  border-width: 5px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.titoloGiorno {
	color: green;
    text-align:center;

}

.temperatureGiornaliere {
	display: flex;
 }

.temperaturaMin {

	margin: 10px;
 	padding: 20px;
    font-size: 35px
}

.temperaturaMax {

	margin: 10px; 
 	padding: 20px; 
    font-weight: bold;
   	font-size: 35px 
}








