*{
	--box-width:100vmin;
	--box-heigth:90vmin;
	--item-width:150px;

	--shadow-width:0.2vmin;
	--blur-width:0.8vmin;
	--margin-width:1vmin;
	--border-width:0.01vmin;
}


@keyframes slideIn {
	100% { left: 0; }
}


#psyke_meteo_box{
	width:  var(--box-width);
	height: var(--box-s);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	
}

#psyke_meteo_box:hidden, #psyke_meteo_box *:hidden{
	transform: translateX(-100vw);
}

q#weatherquote{
	margin: 0;
	padding: 0;

	text-align: center;	
	font-size: var(--footer-font);
	border-top: var(--border-width) black solid;
}

#psyke_meteo_box, #psyke_meteo_box * {
	transition: all 1s cubic-bezier(1,0,0,1);
	animation: slideIn 1s forwards;
}

.littlepicture{
	width:  var(--item-width);
	height: var(--item-width);
	margin: var(--margin-width);
	background-color: aliceblue;
	box-shadow: 0px 0px var(--blur-width) var(--shadow-width) black;
}

.littlepicture > div {
	text-align: center;
}
.littlepicture > .lpimg {
	height: calc(var(--item-width)/2);
}

.littlepicture > .lplabel {
	height: calc(var(--item-width)/4);
}