

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories = 'aemtraning-meteo-alfredo'}">  </sly>

</sly>
<sly data-sly-use.model="com.moveo.aem.training.core.models.MeteoAlfredoModel">
</sly>



<body>

<div id="meteoContainer"></div>
<script id="meteoTemplate" type="text/x-handlebars-template">
    <ul>
        {{#each dailyWeatherAlfredoBeanList}}
        <li class="flex-item">
            <p>{{day}}</p>
            <img src="http://openweathermap.org/img/w/{{icon}}.png">
            <p>{{temperaturaMinima}}° {{temperaturaMassima}}° </p>
        </li>
        {{/each}}
    </ul>
</script>
